<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>de.casoon.cargo-broom</string>
    <key>ProgramArguments</key>
    <array>
        <string>/Users/jseidel/.cargo/bin/cargo-broom</string>
        <string>-y</string>
        <string>--keep-days</string>
        <string>14</string>
        <string>--keep-size</string>
        <string>50MB</string>
        <string>/Users/jseidel/GitHub</string>
    </array>
    <key>StartCalendarInterval</key>
    <dict>
        <key>Weekday</key>
        <integer>0</integer>
        <key>Hour</key>
        <integer>3</integer>
        <key>Minute</key>
        <integer>0</integer>
    </dict>
    <key>StandardOutPath</key>
    <string>/Users/jseidel/Library/Logs/cargo-broom.log</string>
    <key>StandardErrorPath</key>
    <string>/Users/jseidel/Library/Logs/cargo-broom.log</string>
</dict>
</plist>
